.comment{
	margin-top: 20px;
	margin-bottom: 20px;
	/*width: 200px;*/
	margin-left: 20px;
}
.comment h3{
	margin-top: 20px;
	margin-bottom: 10px;
}

.comment textarea{
	width: 500px;
	margin-bottom: 40px;
}
.comment input{
	margin-left: -504px;
	padding: 10px;
	background-color: white;	
	margin-top: 20px;
}
.comment input:hover{
	background-color: black;
	color: white;
}