ErrorDocument 400 http://meraburhanpur.ml/error
ErrorDocument 401 http://meraburhanpur.ml/error
ErrorDocument 403 http://meraburhanpur.ml/error
ErrorDocument 404 http://meraburhanpur.ml/error
ErrorDocument 503 http://meraburhanpur.ml/error
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
DirectoryIndex index.php


//This code is for redirect http to https
//For error page
//For hiding the extection.